@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 37, 37);
  color: white;
}

div {
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, .1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(37, 37, 37);
    border: none;
    text-align: center;
    color: white;
}

input:focus {
    outline: none;
}